body,
html {
  margin: 0;
  overflow: hidden;
  height: 100%;
  color: wheat;
  font-size: 0, 0001vw;
  height: 100%;
}

.toptext {
  margin: 0;
  padding: calc(4vh + 2vw);
  font-size: calc(4vh + 2vw);
  text-align: center;
}

.beskrivning {
  margin: 0;
  padding: calc(4vh + 2vw);
  font-size: calc(1vh + 0, 5vw);
  text-align: center;
}

.tidertext {
  margin: 0;
  padding-top: calc(4vh + 2vw);
  font-size: calc(2vh + 1vw);
  text-align: center;
}

.tider {
  margin: 0;
  padding: calc(2vh + 1vw);
  font-size: calc(2vh + 1vw);
  text-align: center;
}

/* .btn-primary 
{
    background-color: #23a994;
    transition: background-color 0.3s ease-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    color: #fff;
} */

.canvas-background{
  position: absolute;
  z-index: -1;
}



.slider:hover {
  opacity: 1;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
p {
  margin-bottom: 10px;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

span {
  margin-bottom: 10px;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.bakgrunden
{
  height: 100%;
}
input {
  margin-bottom: 10px;
}